<div id="banner_radio" class="row">
  <div class="six columns">
    <img src="assets/images/will-francis-ZDNyhmgkZlQ-unsplash.jpg" class="u-max-full-width" alt="radio"
      style="opacity: 90%; border-radius: 2%">
  </div>
  <div class="six columns heading">
    <h1 class="strong fb-500">Radio</h1>
    <h3 class="text">Escucha nuestros podcast!, enterate de todo.</h3>
    <h3 class="alternative-1 fb-500">Miercoles a Viernes 06:00 p.m</h3>
      <audio id="stream" controls preload="none" style="width: 90%;">
        <source src="https://guri.tepuyserver.net/8154/stream" type="audio/mpeg">
      </audio>
  </div>
</div>
