.up_button {
  position: absolute;
  top: 25%;
  right: 10%;
}

.up_button p {
  margin-bottom: 2%;
}

@media screen and (max-width: 600px) {
  .up_button{
    position: static;
  }
  .up_button{
    display: block;
    text-align: center;
  }
}
