<section class="twelve columns container-padding-s">
  <div class="row">
    <div class="one-third column">
      <h2 class="strong">
        Programas de Educación
      </h2>
      <p>
        La línea de acción fundamental de Comparte es la educación formal y complementaria. Se financian escuelas, refuerzo escolar,
        talleres de capacitación e iniciación artística, entre otros.
      </p>
    </div>
    <div class="one-third column">
      <h2 class="strong">
        Alimentación y Salud
      </h2>
      <p>
        Ofrecemos apoyo nutricional en comedores y escuelas de la comunidad. Diseñamos programas de prevención de enfermedades y sensibilización,  controles de peso y altura
      </p>
    </div>
    <div class="one-third column">
      <h2 class="strong">
        Desarrollo Comunitario
      </h2>
      <p>
        Invertimos en infraestructura, apoyamos la creación de cooperativas productivas y jardines comunitarios a través del acceso al crédito y la capacitación, promoviendo así el empleo juvenil.
      </p>

    </div>
  </div>

</section>

<section class="twelve columns container-padding" id="carrusel">
  <h1 class="text-center strong fb-500">Nuestros Programas</h1>

  <div class="row">

    <div class="one column">
      <span class="left-arrow">
        <fa-icon [icon]="faAngleLeft" size=6x [fixedWidth]="true" (click)="back()"></fa-icon>
      </span>
    </div>

    <section style="margin-left: 10%;" [class]="animation">
      <div class="five columns">
        <h2 class="strong">
          {{services[position].title}}
        </h2>
        <h4 class="text">
          {{services[position].description}}
        </h4>
      </div>
      <div class="five columns">
        <div class="one-half columns">
          <img class="u-max-full-width" src="{{services[position].image}}" alt="services.title">
        </div>
      </div>
    </section>

    <div class="one column">
      <span class="right-arrow">
        <fa-icon [icon]="faAngleRight" size=6x [fixedWidth]="true" (click)="next()"></fa-icon>
      </span>
    </div>
  </div>
</section>
