<div class="twelve columns container-padding" id="carrusel">
  <h1 class="text-center strong">Nuestros Programas</h1>



  <div class="row">

    <div class="one column">
      <span class="left-arrow">
        <fa-icon [icon]="faAngleLeft" size=6x [fixedWidth]="true" (click)="back()"></fa-icon>
      </span>
    </div>

    <section style="margin-left: 10%;" [class]="animation">
      <div class="five columns">
        <h1 class="strong fb-500">
          {{services[position].title}}
        </h1>
        <h4 class="text">
          {{services[position].description}}
        </h4>
      </div>
      <div class="five columns">
        <div class="one-half columns">
          <img class="u-max-full-width" src="{{services[position].image}}"
           alt="services.title">
        </div>
      </div>
    </section>

    <div class="one column">
      <span class="right-arrow">
        <fa-icon [icon]="faAngleRight" size=6x [fixedWidth]="true" (click)="next()"></fa-icon>
      </span>
    </div>
  </div>

</div>
