<style>
  h5 {
    font-style: italic;
  }
</style>


<div id="equinoterapia_">
  <img src="/assets/images/equino/Equino-15.jpg" class="u-max-full-width picture-conf" alt="">
  <div class="up-text">
    <h1 class="banner-content text fb-800">Equinoterapia</h1>
    <h4 class="banner-content text">La Equinoterapia como apoyo para las personas con discapacidad.</h4>
  </div>

  <div class="row">
    <div class="six columns container-padding">
      <p class="text">
        <b>Mi mirada sobre los niños y niñas con discapacidad es a veces dura y condiciona las posibilidades que tienen
          para crecer y vivir una vida digna. </b>
      </p>
      <p class="text">
        En una sociedad donde <b>el individualismo, la productividad y el consumismo se imponen</b>, la discapacidad se
        convierte en algo que nos asusta, ya que se percibe como un límite. Muchas veces, se rechaza a los niños y niñas
        con discapacidad erróneamente, por miedo.
      </p>
    </div>
    <div class="six columns mt-1">
      <img src="/assets/images/equino/Equino-2.jpg"
      alt="equinoterapia_1"
      class="width-100">
    </div>
  </div>

  <div class="row ft-color">
    <div class="six columns mt-2">
      <img src="/assets/images/equino/Equino-4.jpg"
       alt="equinoterapia_2"
       class="width-100">
    </div>
    <div class="six columns container-padding">
      <p>
        Como sociedad, no tenemos en cuenta los valores que las personas con discapacidad pueden fomentar:
        <b>solidaridad,
          amor, cuidado al otro y la importancia vital de las relaciones.</b>
      </p>
      <p>Desafortunadamente, los niños y niñas con discapacidad viven rodeados de una mirada negativa: <span
          class="font-italic">“no soy capaz de
          nada, nunca podré trabajar o encontrar el amor”.</span>
        Esta negatividad provoca un <b>sentimiento de rechazo hacia ellos mismos, que muchas veces se traduce en ganas
          de
          desaparecer y no incluirse en la sociedad.</b>
      </p>

    </div>
  </div>

  <div class="row">
    <div class="six columns container-padding">
      <h2 class="text fb-800">
        No es fácil abstraerse del juicio de los demás.
      </h2>
      <p class="text">
        La mayoría de discapacidades permiten participar con normalidad en los escenarios sociales más
        importantes <b>como el laboral, el familiar, el vecinal, el ocio, la cultura, los estudios, y muchos más.</b>
        Sin embargo,
        la discapacidad estigmatiza a priori a cualquier persona que no cumpla con los cánones sociales considerados
        “normales”. <b>Las personas con discapacidad se convierten en un extraño cuando, al final, son uno más.</b></p>
      <button type="button" class="button-primary" [routerLink]="['/voluntariado']" fragment="voluntariado_">
        Inscríbete
      </button>
    </div>
    <div class="six columns">
      <img src="/assets/images/equino/Equino-3.jpg" alt=""
       class="width-100">
      <h5 class="strong-color container-padding">
        NO ES LA DISCAPACIDAD LA QUE PRODUCE LA MAYORÍA DE LAS LIMITACIONES, SINO NUESTRAS ACTITUDES HACIA ELLA.
      </h5>
    </div>
  </div>

  <div class="row">

    <div class="six columns">
      <div class="twelve columns" >
        <img src="/assets/images/equino/Equino-7.jpg" alt=""
        class="u-max-full-width mt-1"
        style="width: 100%; max-width: 100%;">
        <div class="strong-color container-padding">
          <p class="text">
            <b>Tener una mirada positiva y focalizada.</b>
          </p>
          <p class="text">
            No hay soluciones fáciles, pero trabajar como sociedad la mirada que tenemos hacia las personas con
            discapacidad
            mejora su integración y desarrollo.
          </p>
        </div>
      </div>
    </div>

    <div class="six columns container-padding">
      <h2 class="text fb-800 text-center large-text">
        Mis recomendaciones.
      </h2>
      <p class="text">
        <b>La mayor esperanza para que se produzcan cambios en la mirada social hacia las personas con discapacidad es
          el conocimiento.</b>
      </p>
      <p class="text">
        La ignorancia provoca temor. El temor funciona como un motor que segrega y perpetúa los prejuicios y la falta de
        información. Fomentemos el conocimiento hacia la normalidad e inclusión de las personas con discapacidad.
      </p>

      <p class="text">
        <b>La información es básica para el tratamiento de los niños y niñas con discapacidad.</b>
      </p>

      <p class="text">
        Informarse sobre el diagnóstico del niño o niña con discapacidad ayuda a tener más comprensión por parte de los
        demás y técnicas y mecanismos para ayudarle en su desarrollo.
      </p>
    </div>
  </div>

  <div class="text-center container-margin">
    <h2 class="text fb-800 mt-2">Nuestra Galería</h2>

    <div class="grid-gallery">
      <a class="grid-gallery__item" *ngFor="let imageEquino of images" [href]="assets+imageEquino.name">
        <img class="grid-gallery__image" [src]="assets+imageEquino.name">
      </a>
    </div>
  </div>

</div>
