<section id="vamos-a-la-escuela">
  <img src="assets/images/fundacion/fundacion_1.png" class="u-max-full-width picture-conf" alt="">
  <header>
    <div>
      <h1 class="fb-500 text-center strong">LA EDUCACIÓN</h1>
    </div>
  </header>
  <section class="twelve columns container-padding heading p-color">
    <div class="row">
      <div class="twelve columns">
        <p>
          La educación es un tesoro, una llave para abrir oportunidades, un tesoro que las niñas y los niños tienen derecho a disfrutar.
        </p>
        <p>
          Nos adherimos a las recomendaciones de la UNESCO del libro “La educación encierra  un tesoro”. Se compone de cuatro pilares.
        </p>
        <p>
          <b>Aprender a conocer</b>, combinando una cultura general suficientemente amplia con la posibilidad de profundizar los conocimientos en un pequeño número de materias. Lo que supone además: aprender a aprender para poder aprovechar las posibilidades que ofrece la educación a lo largo de la vida.
        </p>
        <p>
          <b>Aprender a hacer</b>, en el sentido de no limitarse a conseguir el aprendizaje de un oficio sino también a adquirir unas competencias que permitan hacer frente a situaciones imprevisibles, y que facilite el trabajo en equipo.
        </p>
        <p>
          <b>Aprender a convivir</b>, a comprender mejor al otro, al mundo, al entendimiento mutuo de diálogo pacífico y de armonía.
        </p>
        <p>
          <b>Aprender a ser </b>, que integra los tres anteriores y desvela los tesoros enterrados en cada persona, como por ejemplo la memoria, el raciocinio, la imaginación, las aptitudes físicas, el sentido de la estética, la facilidad para comunicar con los demás y el carisma natural del dirigente.
        </p>
      </div>
    </div>
  </section>


</section>
