<div class="row" id="equino">
  <div class="six columns">
    <img src="assets/images/Que-Equinoterapia-beneficios.jpg" class="u-full-width" alt="equinoterapia"
      style="opacity: 90%; border-radius: 2%">
  </div>
  <div class="six columns fb-500 heading">
    <h1 class="strong fb-500">
      Equinoterapia
    </h1>
    <h4 class="text">
      Mi mirada sobre los niños y niñas con discapacidad es a veces dura y condiciona las posibilidades que tienen para crecer y vivir una vida digna
    </h4>

    <div>
      <button type="button"
      class="button-primary"
      [routerLink]="['/equinoterapia']"
      fragment="equinoterapia_">Saber Más</button>
    </div>
  </div>
</div>
