<div class="row">
  <div class="six columns">
    <img src="assets/images/Que-Equinoterapia-beneficios.jpg" class="u-full-width" alt="equinoterapia"
      style="opacity: 90%; border-radius: 2%">
  </div>
  <div class="six columns heading-invert">
    <h1 class="primary">
      EquinoTerapia
    </h1>
    <p>
      Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat. Cras dictum tellus dui, vitae sollicitudin
      ipsum tincidunt in. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's.
    </p>
    <p>
      Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat. Cras dictum tellus dui, vitae sollicitudin
      ipsum tincidunt in. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's.
    </p>
  </div>
</div>
