<!-- The above form looks like this -->
<form id="contact">
  <div class="row heading">
    <h1 class="six columns strong fb-500">
      Contactanos
    </h1>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Nombre y Apellido</label>
      <input class="u-full-width" type="text" placeholder="Ej. Pedro Pérez" id="nameInput">
    </div>
    <div class="six columns">
      <label for="exampleEmailInput">Correo Electrónico</label>
      <input class="u-full-width" type="email" placeholder="Ej. test@mailbox.com" id="emailInput">
    </div>
  </div>
  <label for="exampleMessage">Mensaje</label>
  <textarea class="u-full-width" id="inputMessage"></textarea>
  <input class="button-primary" type="submit" value="Enviar">
</form>
