<!-- The above form looks like this -->
<form id="contact">
  <div class="row heading">
    <h1 class="six columns strong fb-500">
      Contactanos
    </h1>
  </div>
  <form class="row">
    <div class="six columns">
      <label for="fullName">Nombre y Apellido</label>
      <input
      [ngModelOptions]="{standalone: true}"
      [(ngModel)]="contact.fullName"
      class="u-full-width"
      type="text"
      placeholder="Ej. Pedro Pérez"
      id="fullName">
    </div>
    <div class="six columns">
      <label for="exampleEmailInput">Correo Electrónico</label>
      <input
      [ngModelOptions]="{standalone: true}"
     [(ngModel)]="contact.email"
      value="{{contact.email}}"
      class="u-full-width"
      type="email"
      placeholder="Ej. test@mailbox.com"
      id="exampleEmailInput">
    </div>
  </form>
  <label for="exampleMessage">Mensaje</label>
  <textarea
  [ngModelOptions]="{standalone: true}"
  [(ngModel)]="contact.message"
  class="u-full-width"
  id="exampleMessage"
  ></textarea>
  <button
  [disabled]="!contact.fullName && !contact.email && !contact.message"
  class="button-primary"
  type="submit"
  (click)="createContact()">Enviar</button>
</form>
