<section class="twelve columns" style="width: 100%; max-width: 100%;">
  <div class="six columns" style="margin-top: 15%;">
    <div class="row">
      <img src="assets/images/fundacion/fundacion_1.png" style="max-width: 100%;" alt="">
    </div>
  </div>

  <div class="six columns" style="margin-top: 0%;">`
    <div class="twelve columns">
      <div class="">
        <img src="assets/images/fundacion/fundacion_3.png" style="max-width: 100%;" alt="">
      </div>
    </div>
    <div class="twelve columns">
      <div class="">
        <img src="assets/images/fundacion/fundacion_2.png" style="max-width: 100%;" alt="">
      </div>
    </div>


  </div>
</section>
