<div id="voluntariado_">
  <img
    src="https://images.pexels.com/photos/9037205/pexels-photo-9037205.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    class="u-max-full-width picture-conf" alt="">
  <div class="up-text">
    <h1 class="banner-content text fb-800">Voluntariado</h1>
    <h4 class="banner-content text">Los voluntarios son un pilar fundamental de la Fundacion. Su ayuda es imprescindible
      para poder sacar adelante todas las tareas que llevamos a cabo. Agradecemos su energía, su ilusión, su implicación
      y su buen hacer.</h4>
  </div>

  <div class="row">
    <div class="six columns container-padding">
      <h2 class="text fb-800">
        Voltundariado en la Comunidad
      </h2>
      <h5 class="text">La participación de voluntarios en los eventos que organizamos es crucial. A lo largo del año
        organizamos
        actos puntuales para sensibilizar o recaudar fondos en los que nos puedes acompañar, desempeñando diversas
        actividades, tanto participando en la organización como en el evento en si.
        La Mercé, Sant Jordi, Dissabte Solidari, Cometas por la Paz, obras de teatro…</h5>
    </div>
    <div class="six columns mt-1">
      <img
        src="https://images.pexels.com/photos/6647049/pexels-photo-6647049.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=400&w=940"
        alt="" class="u-max-full-width">
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <img src="https://rs.projects-abroad.ie/v1/products/product-5b55c85fcd344.[1090].jpeg" alt=""
        class="u-max-full-width">
    </div>
    <div class="six columns container-padding">
      <h2 class="text fb-800">
        Voltundariado deportivo
      </h2>
      <h5 class="text">Cada año recibimos en la oficina voluntarios de todas partes del mundo para realizar prácticas
        concernientes a
        sus estudios. También solicitudes de personas que viven o están pasando un tiempo en Barcelona y que quieren
        desempeñar algún trabajo relacionado con la comunicación, proyectos, contabilidad / administración,
        responsabilidad social corporativa…!</h5>
    </div>
  </div>

  <div class="row ft-color">
    <div class="six columns container-padding">
      <h2 class="fb-800">
        Voltundariado Motivacional
      </h2>
      <h5>Cada año recibimos en la oficina voluntarios de todas partes del mundo para realizar prácticas concernientes a
        sus estudios. También solicitudes de personas que viven o están pasando un tiempo en Barcelona y que quieren
        desempeñar algún trabajo relacionado con la comunicación, proyectos, contabilidad / administración,
        responsabilidad social corporativa…</h5>
    </div>
    <div class="six columns mt-2">
      <img
        src="https://images.pexels.com/photos/6591435/pexels-photo-6591435.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt="" class="u-max-full-width">
    </div>
  </div>

  <div class="twelve columns container-padding p-color">
    <form id="Voluntariado">
      <div class="row heading">
        <h1 class="twelve columns strong fb-500 text-center">
          Registrate
        </h1>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="exampleEmailInput">Nombre y Apellido</label>
          <input class="u-full-width"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="voluntary.fullName"
          type="text"
          placeholder="Ej. Pedro Pérez"
          id="nameInput">
        </div>
        <div class="six columns">
          <label for="exampleEmailInput">Correo Electrónico</label>
          <input
          class="u-full-width"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="voluntary.email"
          type="email"
          placeholder="Ej. test@mailbox.com"
          id="emailInput">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="exampleEmailInput">Tipo de voluntariado</label>
          <select
          class="u-full-width"
          [ngModelOptions]="{standalone: true}"
          type="text"
          list="volunteers"
          [(ngModel)]="voluntary.voluntaryType"
          placeholder="Seleccione">
          <option *ngFor="let voluntaryType of voluntariesType"
            [value]="voluntaryType.id">{{voluntaryType.name}}</option>
          </select>
        </div>
        <div class="six columns">
          <label for="exampleMessage">Mensaje</label>
          <textarea
          class="u-full-width"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="voluntary.message"
          id="inputMessage"></textarea>
        </div>
      </div>
      <div class="twelve columns text-center">
        <button

        class="button-primary"
        type="submit"
        (click)="createVoluntary()">Enviar</button>
      </div>
    </form>
  </div>
</div>
