<section id="nutricion-y-salud">
  <img src="assets/images/fundacion/fundacion_1.png"
  class="u-max-full-width picture-conf" alt="Educación y Salud">
  <header>
    <div>
      <h1 class="fb-500 text-center strong">NUTRICIÓN Y SALUD</h1>
    </div>
  </header>
  <section class="twelve columns container-padding heading p-color">
    <div class="row">
      <div class="twelve columns">
        <p>
          Recibir una educación de calidad implica gozar de una buena salud y estar alimentado correctamente. Un niño sano tendrá las capacidades para aprovechar al máximo de las enseñanzas recibidas.
        </p>
      </div>
    </div>
  </section>
</section>
