<section id="desarrollo-comunitario">
  <img src="assets/images/fundacion/fundacion_1.png" class="u-max-full-width picture-conf" alt="">
  <header>
    <div>
      <h1 class="fb-500 text-center strong">DESARROLLO COMUNITARIO</h1>
    </div>
  </header>
  <section class="twelve columns container-padding heading p-color">
    <div class="row">
      <div class="twelve columns">
        <p>
          El buen desarrollo de un niño está ligado a su entorno familiar y social; por lo tanto, hay una preocupación constante por crear las condiciones para que las familias y la comunidad pueda organizarse y se comprometan con cambios en la comunidad
        </p>
        <p>
          Apoyame en los  programas que promuevo a la participación desde la primera infancia para hacer de cada persona un protagonista de su vida. Acompaño procesos de mejoramiento de los servicios públicos y de fuentes de trabajo apoyando las demandas de los grupos organizados y dispuestos a comprometerse con un cambio que promueva el bien común y el respeto del medio ambiente.
        </p>
      </div>
    </div>
  </section>
</section>
