
<section>
  <div class="twelve columns container-padding">
    <div class="row">
      <div class="twelve columns heading">
        <h1 class="strong fb-500">
          Qué Hacemos
        </h1>
        <h4>
          Trabajador social para el deporte y comunidad
          Promotor de la equinoterapia en Miranda
        </h4>
        <h4>
          En conjunto con la Fundación Guarenas para el Futuro impulsamos a nuestros
          habitantes a tener mejor calidad de vida.
        </h4>
      </div>
      <section>
        <div id="div-image-static-what-do-we-do">
          <div class="div-image-static-what-do-we-do twelve columns">
            <div class="container-padding"></div>
          </div>
        </div>

        <!-- <div class="twelve columns container-padding-s">
          <img id="img-logo-fundacion"
          src="assets\images\fundacion\logo-fundacion-short.png"
          alt="logo-fundacion"
          style="max-width: 100%; max-height: 100vh;"
          class="center">
        </div> -->
      </section>
    </div>
  </div>
</section>
