<section>
  <div class="row">
    <div class="twelve columns">
      <app-navbar-secondary></app-navbar-secondary>
    </div>
  </div>
  <div class="row p-color">
    <div class="twelve columns container-padding-s" style="text-align: center;">
      <img src="\assets\images\FYLOGO08_2.png" alt="" style="max-width: 100%;">
    </div>
  </div>
  <div class="row p-color">
    <div class="twelve columns">
      <div class="row">
        <div class="twelve columns container-padding-s">
          <h2 class="strong text-center">
            ! Descolonizar Mentes para Soñar Libremente !
          </h2>
        </div>
        <app-cover-images></app-cover-images>
        <div class="twelve columns">
          <span class="ico-yellow">
            <fa-icon [icon]="faExclamation" size=4x [fixedWidth]="true" transform="down-20"></fa-icon>
          </span>
          <h5 class="strong-color container-padding">
            En estos tiempos tan difíciles estamos afrontando
            de la mejor manera posible la realidad en Venezuela y sobretodo en
            nuestra comunidad durante el COVID-19.
          </h5>
        </div>
      </div>
      <!-- <div class="six columns">
        <div class="row">
          <div class="twelve columns">
            <img src="assets/images/portada.png" style="max-width: 70%; max-height: 70%;opacity: 90%;" alt=""
              class="img-shadow">
          </div>
        </div>
      </div> -->
      <!-- <div class="twelve columns">
        <div class="row">
          <div class="twelve columns">
            <h2 class="title-principal strong">{{FRAN_Y}}</h2>
            <h1 class="strong">
              Descolonizar Mentes para Soñar Libremente!
            </h1>
            <p class="text">
            Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat.
            Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt in. Sed tincidunt tristique enim sed sollcitudin.
          </p>
          </div>
        </div>
      </div> -->
    </div>
    <app-banner-what-do-we-do id="banner-que-hacemos"></app-banner-what-do-we-do>
    <app-my-services></app-my-services>

    <div class="twelve columns container-padding pt-1">
      <h4 class="strong">
        Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat.
        Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt in. Sed tincidunt tristique enim sed sollcitudin.
      </h4>
    </div>
    <div class="twelve columns container-padding pt-1">
      <div class="row">
        <div class="four columns">
          <div class="expertiesico">
            <span class="ico">
              <fa-icon [icon]="faHandshake" size=4x [fixedWidth]="true" transform="down-9"></fa-icon>
            </span>
          </div>
        </div>
        <div class="eight columns">
          <h4 class="strong fb-500">
            Tú ya me Conoces
          </h4>
          <p class="text">
            Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat.
            Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt in. Sed tincidunt tristique enim sed sollcitudin.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="four columns">
          <div class="expertiesico">
            <span class="ico">
              <fa-icon [icon]="faGlobe" size=4x [fixedWidth]="true" transform="down-9"></fa-icon>
            </span>
          </div>
        </div>
        <div class="eight columns">
          <h4 class="strong fb-500">
            Te invito a participar en la comunidad de Guatire
          </h4>
          <p class="text">
            Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat.
            Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt in.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="four columns">
          <div class="expertiesico">
            <span class="ico">
              <fa-icon [icon]="faMicrophone" size=4x [fixedWidth]="true" transform="down-9"></fa-icon>
            </span>
          </div>
        </div>
        <div class="eight columns">
          <h4 class="strong fb-500">
            Sé parte de nuestra Radio
          </h4>
          <p class="strong">
            Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat.
            Cras dictum tellus dui, vitae sollicitudin ipsum tincidunt in.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row strong-color">
    <div class="twelve columns container-padding">
      <div class="row mt-1">
        <div class="twelve colums">
          <app-news></app-news>
        </div>
      </div>
    </div>
  </div>

  <!-- Banner-Radio -->

  <div class="div_image_static twelve columns ">
    <div class="container-padding">
      <h1 class="strong fb-500 banner-content six columns offset-by-three">
        Apoyando siempre al deporte
      </h1>
    </div>
  </div>


  <div class="row s-color">
    <div class="twelve columns container-padding">
      <app-banner-radio></app-banner-radio>
    </div>
  </div>

  <div class="div_image_static_equino twelve columns ">
    <div class="container-padding"></div>
  </div>

  <!-- Banner-Equino -->
  <div class="row s-color">
    <div class="twelve columns container-padding">
      <app-banner-equino></app-banner-equino>
    </div>
  </div>

  <div class="row p-color">
    <div class="twelve columns container-padding-m">
      <div class="row">
        <div class="six columns">
          <app-videos></app-videos>
        </div>
        <div class="six columns heading">
          <h1 class="strong fb-500">
            Videos
          </h1>
          <h4 class="text">
            Phasellus non dolor nibh. Nullam elementum tellus pretium feugiat. Cras dictum tellus dui, vitae
            sollicitudin
            ipsum tincidunt in.
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row s-color">
    <div class="twelve columns container-padding">
      <div class="row">
        <div class="six columns">
          <app-banner-volunteering></app-banner-volunteering>
        </div>
        <div class="six columns heading">
          <h1 class="strong fb-500">
            Voluntariado
          </h1>
          <h4 class="text">
            Es el resultado de una libre elección, es una opción ética, personal, gratuita, que no espera retribución
            o
            recompensa. La palabra exacta no es desinterés, porque la persona voluntaria tiene interés, mucho interés
            y
            obtiene satisfacción en sus motivaciones personales.
          </h4>
          <button type="button" class="button-primary"
          [routerLink]="['/voluntariado']" fragment="voluntariado_">
            Inscríbete
        </button>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="twelve columns container-padding strong-color">
      <div class="row">
        <app-advertinsing></app-advertinsing>
      </div>
    </div>
  </div>


  <!-- Contact y Publicidad -->
  <section class="row">
    <div class="twelve columns container-padding">
      <div class="row">
        <app-contact></app-contact>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns container-padding-s">
        <div class="row">
          <app-banner-location></app-banner-location>
        </div>
      </div>
    </div>
  </section>

</section>
