<section id="quienes_somos">
  <img src="assets/images/fundacion/fundacion_1.png" class="u-max-full-width picture-conf" alt="">
  <div class="up-text">
    <h1 class="banner-content text">Quienes Somos</h1>
    <h4 class="banner-content text">Fran Yegüez lleva más de 5 años ayudando a voluntarios y pasantes a desarrollar su
      potencial y hacer del mundo un lugar mejor.</h4>
  </div>

  <div class="twelve columns container-padding heading p-color">
    <div class="row">
      <div class="twelve columns">
        <p>
          Projects Abroad lleva más de 25 años ayudando a voluntarios y pasantes a desarrollar su potencial y hacer del
          mundo un lugar mejor.
        </p>
        <p>
          En los días antes del internet, los smartphones y las aerolíneas de bajo costo, un Profesor de Literatura
          Inglesa y algunos colegas en el extranjero tuvieron una idea: ¿y si los jóvenes pudieran convertirse en
          voluntarios internacionales? Podrían aprender nuevas habilidades y ayudar a otros al mismo tiempo. Eso fue
          hace más de 25 años y nunca hemos mirado hacia atrás.
        </p>
        <p>
          Aunque otras compañías siguieron nuestro camino, aún seguimos siendo el estándar de excelencia en
          voluntariados y pasantías internacionales. Cada proyecto se basa en nuestro compromiso de seguridad, programas
          sin preocupaciones y lograr un impacto real.
        </p>
      </div>
    </div>
  </div>

  <div class="row strong-color">
    <div class="twelve columns container-padding heading ">
      <h1 class="fb-500">
        Nuestra Misión
      </h1>
      <h5>Estamos aquí para brindar el estándar de calidad en apoyo y seguridad para que nuestros voluntarios y pasantes
        puedan desarrollar todo su potencial, se descubran a sí mismos y logren un cambio positivo en el mundo.</h5>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns container-padding heading">
      <h1 class="strong fb-500">
        Nuestros Valores
      </h1>
      <div class="row mt-2">
        <div class="one-third column">
          <h2 class="text">
            Valor Uno
          </h2>
          <h5 class="text">Estamos aquí para brindar el estándar de calidad en apoyo y seguridad para que nuestros
            voluntarios y pasantes puedan desarrollar todo su potencial, se descubran a sí mismos y logren un cambio
            positivo en el mundo.</h5>
        </div>
        <div class="one-third column">
          <h2 class="text">
            Valor Dos
          </h2>
          <h5 class="text">Estamos aquí para brindar el estándar de calidad en apoyo y seguridad para que nuestros
            voluntarios y pasantes puedan desarrollar todo su potencial, se descubran a sí mismos y logren un cambio
            positivo en el mundo.</h5>
        </div>
        <div class="one-third column">
          <h2 class="text">
            Valor Tres
          </h2>
          <h5 class="text">Estamos aquí para brindar el estándar de calidad en apoyo y seguridad para que nuestros
            voluntarios y pasantes puedan desarrollar todo su potencial, se descubran a sí mismos y logren un cambio
            positivo en el mundo.</h5>
        </div>
      </div>
    </div>

  </div>
</section>
