<section id="quienes_somos">
  <img src="assets/images/fundacion/fundacion_1.png" class="u-max-full-width picture-conf" alt="">
  <div class="up-text">
    <h1 class="banner-content text">Quienes Somos</h1>
    <h4 class="banner-content text">Fran Yegüez lleva más de 5 años ayudando a voluntarios y pasantes a desarrollar su
      potencial y hacer del mundo un lugar mejor.</h4>
  </div>

  <div class="row strong-color">
    <div class="twelve columns container-padding heading ">
      <h1 class="fb-500">
        Nuestra Misión
      </h1>
      <h5>Trabajo para garantizar el derecho a la educación y el deporte a los niños, niñas y comunidad en general en Venezuela a través de mi apoyo a comunidades y colegios.</h5>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns container-padding heading">
      <h1 class="strong fb-500">
        Nuestros Valores
      </h1>
      <div class="row mt-2">
        <div class="one-half column">
          <h5 class="text">Promuevo el desarrollo integral y la dignidad de los niños y niñas de cada comunidad donde actúo a través de acciones concretas.</h5>
        </div>
        <div class="one-half column">
          <h5 class="text">
            Contribuyo con la Cultura de Paz, Justicia y Solidaridad en las comunidades donde apoyo, trabajando con personas y asociaciones que buscan las causas de la pobreza endémica con el fin de erradicarla.
          </h5>
        </div>

      </div>
    </div>

  </div>
</section>
