@import url(".\assets\css\colors.css");
/* @import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.rtl.min.css"; */

.p-color {
  color: var(--text);
  background-color: var(--white);
}
.s-color {
  color: var(--secondary);
  background-color: var(--white);
}
.strong-color p {
  color: var(--strong);
}

.strong-color h3 {
  color: var(--strong);
}
.t-color {
  color: var(--third);
  background-color: var(--white);
}
.t-color p {
  color: var(--strong);
}
.t-color h1 {
  color: var(--secondary);
}
.ft-color {
  color: var(--white);
  background-color: var(--primary);
}

.ft-color h1 {
  color: var(--strong);
}

.strong-color {
  color: var(--white);
  background-color: var(--strong);
}

.secondary-color{
  color: var(--white);
  background-color: var(--alternative-1);
}
.strong-color p {
  color: var(--white);
}
.t-.strong-color h1 {
  color: var(--secondary);
}

/* aligment */
.mt-1 {
  margin-top: 2rem;
}
.mt-2 {
  margin-top: 6rem;
}

.mt-3 {
  margin-top: 8rem;
}
.mb-1 {
  margin-bottom: 2rem;
}
.mb-2 {
  margin-bottom: 6rem;
}

.ml-1 {
  margin-left: 2rem;
}

.mb-1 {
  margin-bottom: 2rem;
}

.container-padding-s {
  padding: 1rem 7rem 1rem 7rem;
}
.container-padding {
  padding: 7rem 7rem 7rem 7rem;
}
.container-padding-m {
  padding: 15rem 7rem 15rem 7rem;
}

.container-margin {
  margin: 1rem 1rem 1rem 1rem;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

/* text */
.title-principal {
  font-size: 11.5rem;
}

.update {
  position: relative;
  background-image: url(assets/images/overlay.png),
    url(assets/images/overlay.png);
  background-position: top left, top left, center center;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  z-index: 1;
}

.fran-yeguez-into {
  background-image: url(assets/images/fernando-gago-022AH0CZE7c-unsplash.jpg);
  opacity: 80%;
  height: 200.5rem;
  width: 100%;
  z-index: 1;
}

.fb-500 {
  font-weight: 500;
}

.fb-800 {
  font-weight: 800;
}

.fb-bold {
  font-weight: bold;
}

/* icons */
.expertiesico {
  padding: 10px 0;
  margin-bottom: 58px;
  border-right: 1px solid #ee6c4d;
  text-align: center;
}

.expertiesico span.ico {
  width: 14rem;
  height: 14rem;
  display: inline-block;
  background-color: #98c1d9;
  text-align: center;
  color: #ffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.ico-yellow fa-icon {
  width: 14rem;
  height: 14rem;
  color: orange;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: var(--text);
} /* You can add global styles to this file, and also import other style files */

.heading h1 {
  padding-bottom: 2rem;
  padding-right: 3.125rem;
  margin-bottom: 2.18rem;
  border-bottom: 0.688rem solid #ff554e;
  display: inline-block;
}

.heading-invert h1 {
  padding-bottom: 2rem;
  padding-right: 3.125rem;
  margin-bottom: 2.18rem;
  border-bottom: 0.688rem solid #293241;
  display: inline-block;
}

.div_image_static div {
  background-image: url("https://images.unsplash.com/photo-1553108715-308e8537ce55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=30");
  background-attachment: fixed;
  opacity: 50%;
  padding-top: 20%;
  background-size: 100% 90vh;
  background-repeat: no-repeat, repeat;
}
.div_image_static_equino div {
  background-image: url("https://images.unsplash.com/photo-1553284965-5dd8352ff1bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-attachment: fixed;
  opacity: 50%;
  padding-top: 20%;
  background-size: 100%;
  background-repeat: no-repeat, repeat;
}

.banner-content {
  background-color: var(--white);
  padding-left: 8px;
  padding-right: 8px;
  font-size: 40px;
  text-align: center;
}

.width-100 {
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 550px) {
  .right-arrow {
    display: none;
  }
  .left-arrow {
    display: none;
  }
  .div_image_static div {
    background-image: url("https://images.unsplash.com/photo-1553108715-308e8537ce55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=30");
    background-attachment: fixed;
    height: 40%;
    max-width: 100%;
  }
  .div_image_static_equino div {
    background-image: url("https://images.unsplash.com/photo-1553284965-5dd8352ff1bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
    height: 10%;
    padding-top: 20%;
    max-width: 100%;
  }
  .banner-content {
    background-color: var(--strong);
    color: var(--white);
    font-size: 30px;
    text-align: center;
  }
}
