<div class="row footer">
  <div class="container">
    <div class="row">
      <div class="twelve column fran-y">
        <h1>Fran Yegüez</h1>
      </div>

    </div>
    <div class="row">
      <div class="six column">
        <p>
          Estamos convencidos de que se puede construir un país más seguro, solidario y próspero, que son la Venezuela
          de la Paz, el Bienestar y el Progreso, viviendo bajo el amparo de una justicia auténtica y sincera, una
          justicia justa; convirtiendo a Venezuela en un país productor, en donde el trabajo sirva para generar vida y
          sea una actividad respetada y bien valorada.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="twelve column">
        <div class="six column" style="text-align: center">
          <app-rss></app-rss>
        </div>
      </div>
    </div>
    <div class="row mt">
      <div class="twelve columns">
        <div class="container">
          <ul>
            <li><a>INICIO</a></li>
            <li><a>|</a></li>
            <li><a>NOTICIAS</a></li>
            <li><a>|</a></li>
            <li><a>EVENTOS</a></li>
            <li><a>|</a></li>
            <li><a>EQUINOTERAPIA</a></li>
            <li><a>|</a></li>
            <li><a>UBÍCANOS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
