<div class="row footer_rss">
  <div class="twelve column">
    <div class="six column" style="text-align: center">
      <app-rss></app-rss>
    </div>
  </div>
</div>

<div class="row footer">
  <div class="container">
    <div class="row">
      <div class="twelve column fran-y">
        <img src="assets\images\fy 2 ENTREGA-10_2.png"
        style="max-width: 100%;"
        alt="Fran Yegüez footer">
      </div>

    </div>
    <div class="row">
      <div class="six column">
        <p>
          Estamos convencidos de que se puede construir un país más seguro, solidario y próspero, que son la Venezuela
          de la Paz, el Bienestar y el Progreso, viviendo bajo el amparo de una justicia auténtica y sincera, una
          justicia justa; convirtiendo a Venezuela en un país productor, en donde el trabajo sirva para generar vida y
          sea una actividad respetada y bien valorada.
        </p>
      </div>
    </div>
    <div class="row mt container">
      <div class="twelve columns" style="display: block; align-items: center;">
          <ul>
            <li><a href="#">INICIO</a></li>
            <li><a href="#news_home">NOTICIAS</a></li>
            <li><a [routerLink]="['/voluntariado']" fragment="voluntariado_">VOLUNTARIADO</a></li>
            <li><a href="#equino">EQUINOTERAPIA</a></li>
            <li><a href="#location">UBÍCANOS</a></li>
            <li><a href="#contact">CONTACTANOS</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
