.footer{
  padding: 5rem;
  background-color: #0FA0CE;
  color: #ffffff;
  margin-top: 5rem;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #111111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mt{
  margin-top: 2rem;
}

.fran-y{
  text-align: center;

}

.fran-y h1{
  font-size: 10rem;
}
